
<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Youth Fellowship</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>
    <div id="fh5co-sermon">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="width:99%;margin-left:1px;">
                <h2>Youth Fellowship</h2>

                <p>As young brothers and sisters the Youth join together after the church service, sing praises, pray and glorify the name of the Lord. Around 30 years regularly attend the fellowship meetings for prayers, bible study and other programmes and activities.</p>

                <h2>Activities:</h2>
                <ul>
                    <li style="text-align: left;">On behalf of the youth fellowship, the youth of our church have participated in competitions held by various churches and have won many prizes.</li>

                    <li style="text-align: left;">Youth festival is celebrated in our church regularly once a year, in a grand manner. Approximately 20 youth take up the responsibility for leading the worship on that day. Various competitions and cultural programs are conducted in which around 100 youth participate.</li>

                    <li style="text-align: left;">Every 5th Sunday of the month, the evening service is conducted by the youth. During this special service, youth lead the praise & worship, in singing new songs accompanied by music instruments.</li>

                    <li style="text-align: left;">During festival seasons they decorate the church, help in purchasing things. Our church youth along with other choir groups sing during Christmas season.</li>

                    <li style="text-align: left;">The youth fellowship takes active part in covering all the families of the church during Christmas season through carol rounds.</li>

                    <li style="text-align: left;">During important occasion cricket tournaments for men and throw ball for women are organized by the fellowship make them feel happy.</li>

                    <li style="text-align: left;">To enable our youth to grow in the knowledge of God plans are drawn to involve more young men & women (Below 35 yrs) to our fellowship.</li>

                    <li style="text-align: left;">It is assured that all those who join the fellowship will gain the experience of constantly growing in the Lord, through the prayer sessions, Bible studies, and other creative programmes that are offered by the fellowship.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens1.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens2.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens3.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- END container-wrap -->
<app-footer></app-footer>