<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Gallery</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>
    <div id="fh5co-sermon">

    <div class="container">

      <h1>Photos</h1>

    <p><section class="img-gallery-magnific">
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery2.jpg" title="9.jpg">
                <img src="assets/images/gallery/gallery1.jpg" alt="1.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery2.jpg" title="10.jpg">
                <img src="assets/images/gallery/gallery2.jpg" alt="2.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery3.jpg" title="3.jpg">
                <img src="assets/images/gallery/gallery3.jpg" alt="3.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery4.jpg" title="4.jpg">
                <img src="assets/images/gallery/gallery4.jpg" alt="4.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery5.jpg" title="1.jpg">
                <img src="assets/images/gallery/gallery5.jpg" alt="1.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="magnific-img">
            <a class="image-popup-vertical-fit" href="assets/images/gallery/gallery9.jpg" title="7.jpg">
                <img src="assets/images/gallery/gallery9.jpg" alt="7.jpg" />
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </div>
        </section>
    <div class="clear"></div>

</div>
</div><!-- END container-wrap -->
<app-footer></app-footer>
