<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Service Timing</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>

    <div class="container-wrap">
    <div class="container">
        <h1>Church Service TIME </h1>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    </div>

<app-footer></app-footer>