<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Women Fellowship</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>
    <div id="fh5co-sermon">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="width:99%;margin-left:1px;">
                <h2>Women's Ministry</h2>

                <p>Proverbs 31:29 Many women do noble things, but you surpass them all
                Give her the reward she has earned, and let her works bring her praise at the city gate.</p>

                <p>Our Women’s ministry centers on meeting the spiritual needs of our Christian women and helping them to grow in their faith in Jesus Christ. The primary goal is to assemble women of the church to share time growing in their knowledge & love of God, to guide them to lead a Godly life as mentioned in Bible and to equip women to minister to others. Women of our Church are encouraged to be actively involved in Bible studies, retreats, service projects or gathering events.</p>

                <h2>Women's Fellowship</h2>
                <p>The women’s fellowship started functioning in our church in the year 1930 and since then is on the path of progress, promoting and encouraging its members in the experience of growing in the fullness of Christ. Activities: The Women’s fellowship under the leadership of the pastor Amma carries out its ministries well through various programmes and activities as mentioned below
                The fellowship meets regularly at the church on the 1st Saturday at 5p.m every month. Fasting prayer is conducted at church at 10.30a.m. to 1.30p.m on every second Saturdays of the month. On the 4th Saturday of the month the fellowship meets at the home of members of the fellowship, on turn.</p>

                <ol>
                <li style="text-align: left;">During special occasions like marriages, the women’s fellowship members on invitation visit the homes to pray for the marriage and bless the persons to be married.</li>

                <li style="text-align: left;">In addition to the above on the 4th Sunday of the month from January 2002. Bible exam was conducted starting from Mathew’s Gospel the whole Bible was completed in April 2015.</li>

                <li style="text-align: left;">Some of the members of the fellowship meet regularly on all Tuesdays at 5p.m. at the church and pray for various needs.</li>

                <li style="text-align: left;">Members of the fellowship volunteer to preach the Gospel to the students of the tailoring school at Dr.Ambedkar Nagar every day from 9.30a.m to 10a.m.</li>

                <li style="text-align: left;">The Women’s fellowship supports the church in a big way by putting up stalls (snacks and eatables) for the Harvest Festival and Mission Festival every year.</li>

                <li style="text-align: left;">During the time of VBS the every year, members of the women’s fellowship uphold this ministry through their prayers.</li>
                </ol>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/womens.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/womens1.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/womens2.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- END container-wrap -->
<app-footer></app-footer>
