<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Children Ministry</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>
    <div id="fh5co-sermon">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="width:99%;margin-left:1px;">
                <h2>Children Ministry</h2>

                <ul>
                    <li style="text-align: left;">Proverbs 22:6 Train up a child in the way he should go; even when he is old he will not depart from it.</li>

                    <li style="text-align: left;">Isaiah 54:13 All your children shall be taught by the LORD, and great shall be the peace of your children.</li>

                    <li style="text-align: left;">Children are the future leaders of God, so the purpose of our ministry is to help them to understand & obey, encourage them to set their hope on Christ and to enable them into a lifelong & ever-growing relationship with our Lord Jesus Christ. Our main focus is to help them to walk in the way of the Lord.</li>

                    <li style="text-align: left;">Children are taught the Bible lessons and the art of Worship. They are encouraged and trained to memorize the scriptures and to participate in bible quiz & contests like JBQ. Sunday classes are held simultaneously during the church services.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/vbs.jpg);">
                    </div>
                    <h3>VBS -2014</h3>
                    <span>at Parish Hall, Valaiady</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/vbs1.jpg);">
                    </div>
                    <h3>VBS -2014</h3>
                    <span>at Parish Hall, Valaiady</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/vbs2.jpg);">
                    </div>
                    <h3>VBS -2014</h3>
                    <span>at Parish Hall, Valaiady</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- END container-wrap -->
<app-footer></app-footer>

