<app-header></app-header>
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(assets/images/ministry/banner.jpg);">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center slider-text">
                               <div class="slider-text-inner">
                                   <h1>Men Fellowship</h1>
                                    <!--<h2>Please <a href="http://holytrinitychurch.in/" target="_blank">holytrinitychurch.in</a></h2>-->
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
              </ul>
          </div>
    </aside>
    <div id="fh5co-sermon">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="width:99%;margin-left:1px;">
                <h2>Men's Ministry</h2>

                <p>1 Corinthians 16:13-14 Be on your guard; stand firm in the faith; be men of courage; be strong. Do everything in love.</p>

                <p>Proverbs 27:17 As iron sharpens iron, so one man sharpens another.</p>

                <p>The main objective of Men’s ministry is to learn, grow, serve and to build up the body of Christ through activities that create fellowship & moral ethics. Men’s ministry purpose is to help men “Flow to Greatness” by assuming our rightful God given position and to become great ambassadors for Christ in our homes, our Church and our communities. Men of our church are encouraged in His faith as we learn from each other with testimonies, sharing, worship and prayers..</p>

                <h2>Men's Fellowship</h2>
                <p>The men’s fellowship was started by Rev. Prabakaran Rajasekaran during 2003 in our church, and now under the leadership of our pastor is functioning well.</p>

                <h2>Activities:</h2>
                <p>The fellowship meets at the church twice a month regularly 5p.m. on the 2nd Sundays and 10a.m. to 1p.m. on the 4th Sunday at the church.</p>

                <p>Around 30 members meet regularly for prayer, sharing and study of the word of God. At the close of fellowship meetings on the 4th Sunday, the members participate in a fellowship lunch, sponsored by themselves.</p>

                <p>Lay preachers from our church and the local presbyters regularly share God’s word during such occasion, and the members show keen interest in learning the word of God at depth. This certainly is a means of strength and encouragement in the spiritual life of the members.</p>

                <p>The men’s fellowship takes active role in supporting various ministries of the church. The members put up stalls on behalf of the fellowship to raise funds during the time of In-gathering festival and Mission festival every year
                Some of the members of the fellowship who are imbibed with preaching talents help the church by taking up preaching whenever they are invited to do so.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens1.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens2.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url(assets/images/ministry/mens3.jpg);">
                    </div>
                    <h3>Soul Winning</h3>
                    <span>Pstr. John Doe</span>
                </div>
            </div>
        </div>
    </div>
</div><!-- END container-wrap -->
<app-footer></app-footer>
