
		
<div class="fh5co-loader"></div>
<div id="page">
<app-header></app-header>
<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(assets/images/church.jpg);">
		   		<div class="overlay"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 text-center">
			   				<div class="slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Living &amp; For more update</h1>
										<h2>Please get in touch <a [routerLink]="['/home']" target="_blank">holytrinitychurch.in</a></h2>
										<p><a class="btn btn-primary btn-demo popup-vimeo" href=""> <i class="assets/video/eagle.mp4"></i> Watch Video</a> <a href="time.html" class="btn btn-primary btn-learn">Service Time <i class="icon-arrow-right3"></i></a></p>
				   				</div>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(assets/images/church.jpg);">
		   		<div class="overlay"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 text-center">
			   				<div class="slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Tell The World</h1>
										<h2>Please get in touch <a [routerLink]="['/home']" target="_blank">holytrinitychurch.in</a></h2>
										<p><a class="btn btn-primary btn-demo popup-vimeo" href="assets/video/eagle.mp4"> <i class="icon-play4"></i> Watch Video</a> <a href="time.html" class="btn btn-primary btn-learn">Service Time! <i class="icon-arrow-right3"></i></a></p>
				   				</div>
				   			</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>

		   	<li style="background-image: url(assets/images/church.jpg);">
		   		<div class="overlay"></div>
		   		<div class="container-fluids">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 text-center">
			   				<div class="slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>Know More About Jesus</h1>
										<h2>Please get in touch<a [routerLink]="['/home']" target="_blank">holytrinitychurch.in</a></h2>
										<p><a class="btn btn-primary btn-demo popup-vimeo" href="assets/video/eagle.mp4"> <i class="icon-play4"></i> Watch Video</a> <a href="time.html" class="btn btn-primary btn-learn">Service Time <i class="icon-arrow-right3"></i></a></p>
				   				</div>
				   			</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
			<!--audio-->

			  <!-- <audio autoplay src="assets/audio/audio.mp3"></audio> --> 

	  	</div>
	</aside>
	<div id="fh5co-intro">
       <audio autoplay controls  style="width:100%">
         <source src="assets/audio/audio.mp3" type="audio/mp3">
         Your browser does not support the audio element.
       </audio>
       <!-- <audio autoplay src="assets/audio/audio.mp3"type="audio/mp3"></audio> -->
	</div>
	
	<!-- <div id="fh5co-counter" class="fh5co-counters">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<p>We have a fun facts far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
		</div> 
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Members</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Ministries</span>
					</div>
					<div class="clearfix visible-sm-block visible-xs-block"></div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Classes</span>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Activities</span>
					</div>
				</div>
			</div> 
		</div>
	</div> -->

	<div id="fh5co-sermon" style="padding-top: 1px;">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our Sermons</h2>
				<p style="margin-bottom:-32px;">The church service is the gathering together of Christians to be taught the "Word of God" (the Christian Bible) and encouraged in their faith.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<!-- <iframe width="303" height="220" src="https://www.youtube.com/embed/TAkAIL5aWo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
					<h3>Sunday service conducted by Rev. Ruban Maniraj</h3>
					<span>Jan 23, 2022</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<!-- <iframe width="303" height="220" src="https://www.youtube.com/embed/oHkuXXQkbmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
					<h3>Sunday service conducted by Rev. Ruban Maniraj</h3>
					<span>Jan 16, 2022</span>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<!-- <iframe width="303" height="220" src="https://www.youtube.com/embed/oHkuXXQkbmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
					<h3>Valaiady Church Men's Fellowship</h3>
					<span>Dec 23, 2021</span>
				</div>
			</div>
			
	</div>
	<div id="fh5co-bible-verse">
		<div class="overlay"></div>
		<div class="row">
			<div class="item">
				<div class="bible-verse-slide active text-center">
					<blockquote>
						<p>&ldquo;For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.&rdquo;</p>
						<span>John 3:16</span>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-events">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our Events</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 animate-box">
				<div class="events-entry">
					<span class="date">March 10, 2017</span>
					<h3><a href="#">Message From God</a></h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<a href="#">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="events-entry">
					<span class="date">March 20, 2017</span>
					<h3><a href="#">Message From God</a></h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<a href="#">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="events-entry">
					<span class="date">March 30, 2017</span>
					<h3><a href="#">Message From God</a></h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<a href="#">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-news" class="fh5co-light-grey">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Our Church Members</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="assets/images/img-1.jpg" alt="Free HTML5 Website Template by holytrinitychurch.in"></a>
					<div class="desc">
						<h3><a href="#">Live News</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="assets/images/img-3.jpg" alt="Free HTML5 Website Template by holytrinitychurch.in"></a>
					<div class="desc">
						<h3><a href="#">Biblical Counseling</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="assets/images/img-2.jpg" alt="Free HTML5 Website Template by holytrinitychurch.in"></a>
					<div class="desc">
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 animate-box">
				<div class="news">
					<a href="#" class="img-holder"><img class="img-responsive" src="assets/images/img-4.jpg" alt="Free HTML5 Website Template by holytrinitychurch.in"></a>
					<div class="desc">
						<h3><a href="#">Helping Children</a></h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END container-wrap -->
<app-footer></app-footer>
</div>
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>
